@tailwind base;
@tailwind components;
@tailwind utilities;


.box{
  width: 190px;
  height: 190px;
  border: 3px solid black;
  border-radius: 10px;
}
@media (max-width:1000px) {
  .hero{
    flex-direction: column-reverse;
    gap: 10px;
  }
  .box{
    width: 130px;
    height: 130px;
  }
  .p1{
    display: none;
  }
  .herotext{
    justify-content: center;
    align-items: center;
  }
}
.place{
  width: 130px;
  height: 130px;
  border:3px solid black;
  border-radius: 7px;
}
.board{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 3px;
  border: 2px solid black;
  padding: 15px;
  border-radius: 10px;
}